@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

body {
  font-family: "Changa+One", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  background-image: url("https://cdn.pixabay.com/photo/2014/11/30/17/15/theater-551797__340.jpg");
  background-repeat: no-repeat;

  background-size: cover;
}

.container {
  width: 100%;
  margin: 1em auto;
}

.grid {
  display: grid;
  margin-left: 5px;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2em;
  justify-content: center;
}
